/* MAIN */

main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

/* MAIN TOP */

.main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

/* MAIN TOP SEARCH */

.main-top-search {
    width: 400px;
    height: 50px;
    background-color: hsl(209, 23%, 22%);
    border-radius: 0.2rem;
    border: 1px solid rgba(255,255,255,0.05);
}

.main-top-search label {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding-inline: 15px;
    column-gap: 15px;
}

.main-top-search-svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.main-top-search-input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 0;
    outline: none;
    background-color: transparent;
    color: white;
}

/* COUNTRIES THEMSELVES */

.countries-themselves {
    padding-inline: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

/* COUNTRY ITSELF */

.country-itself {
    background-color: hsl(209, 23%, 22%);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.05);
}

/* COUNTRY ITSELF IMAGE */

.country-itself-image {
    line-height: 0;
    overflow: hidden;
}

.country-itself-image-itself {
    width: 100%;
    transition: scale 300ms;
}

/* COUNTRY ITSELF INFORMATION */

.country-itself-information {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/* COUNTRY ITSELF INFORMATION NAME */

.country-itself-information-name {
    color: white;
}

/* COUNTRY ITSELF INFORMATION INNER */

.country-itself-information-inner {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.country-itself-information-inner-text {
    color: white;
    font-weight: 300;
}

.country-itself-information-inner-text-bold {
    font-weight: 700;
}

/* COUNTRY ITSELF STATES */

.country-itself:hover .country-itself-image-itself {
    scale: 1.05;
}