@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --f-nutino: "Nunito Sans", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-nutino);
}

body {
    background-color: hsl(207, 26%, 17%);
}

/* NAVBAR */

.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsl(209, 23%, 22%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 80px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* NAVBAR LOGO */

.navbar-logo {
    color: white;
}

/* NAVBAR THEME BUTTON */

.navbar-theme-button {
    --svg-size: 15px;
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 0.2rem;
}

.navbar-theme-button-svg {
    fill: white;
    width: var(--svg-size);
    height: var(--svg-size);
}

.navbar-theme-button-svg-second {
    display: none;
    width: var(--svg-size);
    height: var(--svg-size);
}

.navbar-theme-button-text {
    color: white;
    font-weight: 600;
}

.navbar-theme-button:hover {
    background-color: rgba(255,255,255,0.05);
}

.navbar-theme-button:active {
    background-color: rgba(255,255,255,0.03);
}

/* NAVBAR THEME BUTTON JS */

.navbar-theme-button-js:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar-theme-button-js:active {
    background-color: rgba(0, 0, 0, 0.03);
}

.navbar-theme-button-js .navbar-theme-button-svg {
    display: none;
}

.navbar-theme-button-js .navbar-theme-button-svg-second {
    display: unset;
}

.navbar-theme-button-js .navbar-theme-button-text {
    color: black;
}

/* BODY JS */

.body-js {
    background-color: hsl(0, 0%, 98%);
}

/* BODY JS - NAVBAR */

.body-js .navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.body-js .navbar-logo {
    color: black;
}